# summary results for 8 problems

In [1]:
import pandas as pd
import numpy as np
#
# from math import sqrt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

## Crying Baby

runtime is the sum of 100 simulations, each simulation contains 1000 games

In [2]:
df = pd.read_table("cryingBabyProblem.csv",sep=',')

cm = sns.light_palette("orange", as_cmap=True)
df2 = df.groupby(["package"]).sum()
df2 = df2[[i for i in df2.columns if i not in ['id']]]
df2.style.format('{:.4f}').background_gradient(cmap=cm).apply(
    lambda col: ['font-weight:bold' 
                 if ((x==col.max() and col.name in ["sum_reward","sum_discount_reward"
                     ]) 
                     or (x==col.min() and col.name in ["avg_steps","runtime"]))
                 else '' 
                 for x in col])

In [3]:
baby_runtime = df2["runtime"]
print(baby_runtime)

baby_sum_discounted = df2["sum_discount_reward"]
print(baby_sum_discounted)

package
FIB        1.811442
PBVI      15.254777
QMDP       1.660357
SARSOP     2.269762
Name: runtime, dtype: float64
package
FIB      -2199683
PBVI     -2198110
QMDP     -2207513
SARSOP   -2190695
Name: sum_discount_reward, dtype: int64

## Tiger

runtime is the sum of 100 simulations, each simulation contains 1000 games

In [4]:
df = pd.read_table("tigerProblem.csv",sep=',')

cm = sns.light_palette("orange", as_cmap=True)
df2 = df.groupby(["package"]).sum()
df2 = df2[[i for i in df2.columns if i not in ['id']]]
df2.style.format('{:.4f}').background_gradient(cmap=cm).apply(
    lambda col: ['font-weight:bold' 
                 if ((x==col.max() and col.name in [
                     "num_correct_door","sum_reward","sum_discount_reward"
                     ]) 
                     or (x==col.min() and col.name in ["num_wrong_door","avg_steps","runtime"]))
                 else '' 
                 for x in col])

In [5]:
tiger_runtime = df2["runtime"]
print(tiger_runtime)

tiger_sum_discounted = df2["sum_discount_reward"]
print(tiger_sum_discounted)

package
FIB       3.459105
PBVI      1.970471
QMDP      1.899980
SARSOP    2.317067
Name: runtime, dtype: float64
package
FIB       376463
PBVI      373155
QMDP      388158
SARSOP    378409
Name: sum_discount_reward, dtype: int64

## Paint
runtime is the sum of 100 simulations, each simulation contains 1000 games

## Rock Sample

runtime is the sum of 100 simulations, each simulation contains 1000 games

## Query

## Mini hallway

## Simple grid world (3 $\times$ 3)

## T-Maze problem (arm length =3)

# Summary

## Runtime

In [11]:
concatenated = pd.concat([tiger_runtime, baby_runtime], axis=1)
concatenated.columns.values[0] = 'Tiger'
concatenated.columns.values[1] = 'Crying Baby'

concatenated.style.format('{:.4f}').background_gradient(cmap=cm).apply(
    lambda col: ['font-weight:bold' if x==col.min() else ''
                 for x in col])

## Sum of Discounted Reward

In [12]:
concatenated = pd.concat([tiger_sum_discounted, baby_sum_discounted], axis=1)
concatenated.columns.values[0] = 'Tiger'
concatenated.columns.values[1] = 'Crying Baby'

concatenated.style.format('{:.4f}').background_gradient(cmap=cm).apply(
    lambda col: ['font-weight:bold' if x==col.min() else ''
                 for x in col])