# summary results for 8 problems

In [1]:
import pandas as pd
import numpy as np
#
# from math import sqrt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

## Crying Baby

runtime is the sum of 100 simulations, each simulation contains 1000 games

In [2]:
df = pd.read_table("cryingBabyProblem.csv",sep=',')

cm = sns.light_palette("orange", as_cmap=True)
df2 = df.groupby(["package"]).sum().round(4)
df2 = df2[[i for i in df2.columns if i not in ['id']]]
df2.style.format('{:.4f}').background_gradient(cmap=cm).apply(
    lambda col: ['font-weight:bold' 
                 if ((x==col.max() and col.name in ["sum_reward","sum_discount_reward"
                     ]) 
                     or (x==col.min() and col.name in ["avg_steps","runtime"]))
                 else '' 
                 for x in col])

In [3]:
baby_runtime = df2["runtime"]
print(baby_runtime)

baby_sum_discounted = df2["sum_discount_reward"]
print(baby_sum_discounted)

package
FIB         0.1379
PBVI        0.8480
POMCP      41.5183
POMCPOW    54.1477
QMDP        0.1473
SARSOP      0.2715
Name: runtime, dtype: float64
package
FIB       -195
PBVI      -143
POMCP     -203
POMCPOW   -186
QMDP      -129
SARSOP    -134
Name: sum_discount_reward, dtype: int64

## Tiger

runtime is the sum of 100 simulations, each simulation contains 1000 games

In [4]:
df = pd.read_table("tigerProblem.csv",sep=',')

cm = sns.light_palette("orange", as_cmap=True)
df2 = df.groupby(["package"]).sum().round(4)
df2 = df2[[i for i in df2.columns if i not in ['id']]]
df2.style.format('{:.4f}').background_gradient(cmap=cm).apply(
    lambda col: ['font-weight:bold' 
                 if ((x==col.max() and col.name in [
                     "sum_reward","sum_discount_reward"
                     ]) 
                     or (x==col.min() and col.name in ["avg_steps","runtime"]))
                 else '' 
                 for x in col])

In [5]:
tiger_runtime = df2["runtime"]
print(tiger_runtime)

tiger_sum_discounted = df2["sum_discount_reward"]
print(tiger_sum_discounted)

package
FIB          0.1779
PBVI         0.4323
POMCP      163.0138
POMCPOW    704.4068
QMDP         0.4524
SARSOP       0.4874
Name: runtime, dtype: float64
package
FIB         41408
PBVI        38115
POMCP     -254048
POMCPOW   -273947
QMDP        37654
SARSOP      37964
Name: sum_discount_reward, dtype: int64

## Paint
runtime is the sum of 100 simulations, each simulation contains 1000 games

In [6]:
df = pd.read_table("paintProblem.csv",sep=',')

cm = sns.light_palette("orange", as_cmap=True)
df2 = df.groupby(["package"]).sum().round(4)
df2 = df2[[i for i in df2.columns if i not in ['id']]]
df2.style.format('{:.4f}').background_gradient(cmap=cm).apply(
    lambda col: ['font-weight:bold' 
                 if ((x==col.max() and col.name in [
                     "sum_reward","sum_discount_reward"
                     ]) 
                     or (x==col.min() and col.name in ["avg_steps","runtime"]))
                 else '' 
                 for x in col])

In [7]:
paint_runtime = df2["runtime"]
print(paint_runtime)

paint_sum_discounted = df2["sum_discount_reward"]
print(paint_sum_discounted)

package
FIB          0.4014
PBVI         0.6954
POMCP      167.8278
POMCPOW    723.8435
QMDP         0.6775
SARSOP       0.5672
Name: runtime, dtype: float64
package
FIB        -5
PBVI       -3
POMCP     -52
POMCPOW   -56
QMDP        9
SARSOP      5
Name: sum_discount_reward, dtype: int64

## Rock Sample

runtime is the sum of 100 simulations, each simulation contains 1000 games

In [8]:
df = pd.read_table("rockSampleProblem.csv",sep=',')

cm = sns.light_palette("orange", as_cmap=True)
df2 = df.groupby(["package"]).sum().round(4)
df2 = df2[[i for i in df2.columns if i not in ['id']]]
df2.style.format('{:.4f}').background_gradient(cmap=cm).apply(
    lambda col: ['font-weight:bold' 
                 if ((x==col.max() and col.name in [
                     "sum_reward","sum_discount_reward"
                     ]) 
                     or (x==col.min() and col.name in ["avg_steps","runtime"]))
                 else '' 
                 for x in col])

In [9]:
rock_runtime = df2["runtime"]
print(rock_runtime)

rock_sum_discounted = df2["sum_discount_reward"]
print(rock_sum_discounted)

package
FIB        58.5820
PBVI        5.0158
POMCP      54.4596
POMCPOW    38.1339
QMDP       45.0650
SARSOP      0.8890
Name: runtime, dtype: float64
package
FIB          0
PBVI       635
POMCP      655
POMCPOW    656
QMDP         0
SARSOP     637
Name: sum_discount_reward, dtype: int64

## Query

In [10]:
df = pd.read_table("queryProblem.csv",sep=',')

cm = sns.light_palette("orange", as_cmap=True)
df2 = df.groupby(["package"]).sum().round(4)
df2 = df2[[i for i in df2.columns if i not in ['id']]]
df2.style.format('{:.4f}').background_gradient(cmap=cm).apply(
    lambda col: ['font-weight:bold' 
                 if ((x==col.max() and col.name in [
                     "sum_reward","sum_discount_reward"
                     ]) 
                     or (x==col.min() and col.name in ["avg_steps","runtime"]))
                 else '' 
                 for x in col])

In [11]:
query_runtime = df2["runtime"]
print(query_runtime)

query_sum_discounted = df2["sum_discount_reward"]
print(query_sum_discounted)

package
FIB          2.8926
PBVI         5.9929
POMCP      197.3220
POMCPOW    719.3118
QMDP         2.7845
SARSOP       0.7504
Name: runtime, dtype: float64
package
FIB        864
PBVI       877
POMCP      834
POMCPOW    947
QMDP       946
SARSOP     886
Name: sum_discount_reward, dtype: int64

## Mini hallway

Some error for problem setup

In [12]:
df = pd.read_table("miniHallwayProblem.csv",sep=',')

cm = sns.light_palette("orange", as_cmap=True)
df2 = df.groupby(["package"]).sum().round(4)
df2 = df2[[i for i in df2.columns if i not in ['id']]]
df2.style.format('{:.4f}').background_gradient(cmap=cm).apply(
    lambda col: ['font-weight:bold' 
                 if ((x==col.max() and col.name in [
                     "sum_reward","sum_discount_reward"
                     ]) 
                     or (x==col.min() and col.name in ["avg_steps","runtime"]))
                 else '' 
                 for x in col])

In [13]:
miniHallway_runtime = df2["runtime"]
print(miniHallway_runtime)

miniHallway_sum_discounted = df2["sum_discount_reward"]
print(miniHallway_sum_discounted)

package
FIB          9.4817
PBVI         0.7267
POMCP      200.0973
POMCPOW    447.7556
QMDP         5.1165
SARSOP       1.2110
Name: runtime, dtype: float64
package
FIB         1
PBVI       21
POMCP      17
POMCPOW    11
QMDP        1
SARSOP     21
Name: sum_discount_reward, dtype: int64

In [ ]:
miniHallway_runtime = df2["runtime"]
print(miniHallway_runtime)

miniHallway_sum_discounted = df2["sum_discount_reward"]
print(miniHallway_sum_discounted)

## T-Maze problem (arm length =3)

In [14]:
df = pd.read_table("tMazeProblem.csv",sep=',')

cm = sns.light_palette("orange", as_cmap=True)
df2 = df.groupby(["package"]).sum().round(4)
df2 = df2[[i for i in df2.columns if i not in ['id']]]
df2.style.format('{:.4f}').background_gradient(cmap=cm).apply(
    lambda col: ['font-weight:bold' 
                 if ((x==col.max() and col.name in [
                     "sum_reward","sum_discount_reward"
                     ]) 
                     or (x==col.min() and col.name in ["avg_steps","runtime"]))
                 else '' 
                 for x in col])

In [15]:
tMaze_runtime = df2["runtime"]
print(tMaze_runtime)

tMaze_sum_discounted = df2["sum_discount_reward"]
print(tMaze_sum_discounted)

package
FIB           7.1363
PBVI          1.0194
POMCP      3648.0549
POMCPOW    6251.3235
QMDP          5.8714
SARSOP        2.7433
Name: runtime, dtype: float64
package
FIB          0
PBVI       299
POMCP      162
POMCPOW     99
QMDP       -86
SARSOP     247
Name: sum_discount_reward, dtype: int64

# Summary

## Runtime

In [27]:
concatenated1 = pd.concat([baby_runtime, tiger_runtime, paint_runtime, 
                           rock_runtime, query_runtime, miniHallway_runtime, 
                           tMaze_runtime
                           ], axis=1)
concatenated1.columns.values[0] = 'Crying Baby'
concatenated1.columns.values[1] = 'Tiger'
concatenated1.columns.values[2] = 'Paint'
concatenated1.columns.values[3] = 'Rock Sample'
concatenated1.columns.values[4] = 'Query'
concatenated1.columns.values[5] = 'Mini Hallway'
concatenated1.columns.values[6] = 'T-Maze'
# sort by package name
custom_order = {'IP':0, 'QMDP':1,'FIB':2,'PBVI':3,
                'SARSOP':4,'POMCP':5,'POMCPOW':6}
concatenated1 =concatenated1.sort_values(by=['package'], key=lambda x: x.map(custom_order))
# color coded
concatenated1.style.format('{:.4f}').background_gradient(axis=0,cmap="Pastel2").apply(
    lambda col: ['font-weight:bold' if x==col.min() else ''
                 for x in col])

## Sum of Discounted Reward

In [28]:
concatenated2 = pd.concat([ baby_sum_discounted, tiger_sum_discounted, paint_sum_discounted, 
                           rock_sum_discounted, query_sum_discounted, miniHallway_sum_discounted, 
                           tMaze_sum_discounted], axis=1)
concatenated2.columns.values[0] = 'Crying Baby'
concatenated2.columns.values[1] = 'Tiger'
concatenated2.columns.values[2] = 'Paint'
concatenated2.columns.values[3] = 'Rock Sample'
concatenated2.columns.values[4] = 'Query'
concatenated2.columns.values[5] = 'Mini Hallway'
concatenated2.columns.values[6] = 'T-Maze'
custom_order = {'IP':0, 'QMDP':1,'FIB':2,'PBVI':3,
                'SARSOP':4,'POMCP':5,'POMCPOW':6}
concatenated2 =concatenated2.sort_values(by=['package'], key=lambda x: x.map(custom_order))

concatenated2.style.format('{:.4f}').background_gradient(axis=0,cmap="Pastel1").apply(
    lambda col: ['font-weight:bold' if x==col.max() else ''
                 for x in col])

# summary
simply combine above 2 matrix together

In [25]:
runtime_list = [('Runtime','Crying Baby'), ('Runtime','Tiger'), 
               ('Runtime','Paint'), ('Runtime','Rock Sample'),
               ('Runtime','Query'), ('Runtime','Mini Hallway'),
               ('Runtime','T-Maze')]
reward_list = [('Reward','Crying Baby'), ('Reward','Tiger'), 
               ('Reward','Paint'), ('Reward','Rock Sample'),
               ('Reward','Query'), ('Reward','Mini Hallway'),
               ('Reward','T-Maze')]
y = runtime_list + reward_list
s =  pd.concat([concatenated1,concatenated2], axis=1)
s.columns = pd.MultiIndex.from_tuples(y)

s.style.format('{:.4f}').apply(
    lambda col: ['font-weight:bold' if (
         (x==col.min()and col.name in runtime_list) or
         (x==col.max() and col.name in reward_list)) else ''
                 for x in col])

custom_order = {'IP':0, 'QMDP':1,'FIB':2,'PBVI':3,
                'SARSOP':4,'POMCP':5,'POMCPOW':6}
s=s.sort_values(by=['package'], key=lambda x: x.map(custom_order))
s.to_csv("summary.csv")
s

            Runtime                                                         \
        Crying Baby     Tiger     Paint Rock Sample     Query Mini Hallway
package
QMDP         0.1473    0.4524    0.6775     45.0650    2.7845       5.1165
FIB          0.1379    0.1779    0.4014     58.5820    2.8926       9.4817
PBVI         0.8480    0.4323    0.6954      5.0158    5.9929       0.7267
SARSOP       0.2715    0.4874    0.5672      0.8890    0.7504       1.2110
POMCP       41.5183  163.0138  167.8278     54.4596  197.3220     200.0973
POMCPOW     54.1477  704.4068  723.8435     38.1339  719.3118     447.7556

                        Reward                                               \
            T-Maze Crying Baby   Tiger Paint Rock Sample Query Mini Hallway
package
QMDP        5.8714        -129   37654     9           0   946            1
FIB         7.1363        -195   41408    -5           0   864            1
PBVI        1.0194        -143   38115    -3         635   877           21
SARSOP      2.7433        -134   37964     5         637   886           21
POMCP    3648.0549        -203 -254048   -52         655   834           17
POMCPOW  6251.3235        -186 -273947   -56         656   947           11


        T-Maze
package
QMDP       -86
FIB          0
PBVI       299
SARSOP     247
POMCP      162
POMCPOW     99