# summary results for 8 problems

In [1]:
import pandas as pd
import numpy as np
#
# from math import sqrt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

## Crying Baby

runtime is the sum of 100 simulations, each simulation contains 1000 games

In [2]:
df = pd.read_table("cryingBabyProblem.csv",sep=',')

cm = sns.light_palette("orange", as_cmap=True)
df2 = df.groupby(["package"]).sum().round(4)
df2 = df2[[i for i in df2.columns if i not in ['id']]]
df2.style.format('{:.4f}').background_gradient(cmap=cm).apply(
    lambda col: ['font-weight:bold' 
                 if ((x==col.max() and col.name in ["sum_reward","sum_discount_reward"
                     ]) 
                     or (x==col.min() and col.name in ["avg_steps","runtime"]))
                 else '' 
                 for x in col])

In [3]:
baby_runtime = df2["runtime"]
print(baby_runtime)

baby_sum_discounted = df2["sum_discount_reward"]
print(baby_sum_discounted)

package
FIB         0.3456
PBVI        2.0789
POMCP      44.6098
POMCPOW    83.0015
QMDP        0.1041
SARSOP      0.3376
Name: runtime, dtype: float64
package
FIB       -217110
PBVI      -220363
POMCP      -75864
POMCPOW   -115277
QMDP      -216254
SARSOP    -218068
Name: sum_discount_reward, dtype: int64

## Tiger

runtime is the sum of 100 simulations, each simulation contains 1000 games

In [4]:
df = pd.read_table("tigerProblem.csv",sep=',')

cm = sns.light_palette("orange", as_cmap=True)
df2 = df.groupby(["package"]).sum().round(4)
df2 = df2[[i for i in df2.columns if i not in ['id']]]
df2.style.format('{:.4f}').background_gradient(cmap=cm).apply(
    lambda col: ['font-weight:bold' 
                 if ((x==col.max() and col.name in [
                     "num_correct_door","sum_reward","sum_discount_reward"
                     ]) 
                     or (x==col.min() and col.name in ["num_wrong_door","avg_steps","runtime"]))
                 else '' 
                 for x in col])

In [5]:
tiger_runtime = df2["runtime"]
print(tiger_runtime)

tiger_sum_discounted = df2["sum_discount_reward"]
print(tiger_sum_discounted)

package
FIB          0.1779
PBVI         0.4323
POMCP      163.0138
POMCPOW    704.4068
QMDP         0.4524
SARSOP       0.4874
Name: runtime, dtype: float64
package
FIB         41408
PBVI        38115
POMCP     -254048
POMCPOW   -273947
QMDP        37654
SARSOP      37964
Name: sum_discount_reward, dtype: int64

## Paint
runtime is the sum of 100 simulations, each simulation contains 1000 games

## Rock Sample

runtime is the sum of 100 simulations, each simulation contains 1000 games

In [6]:
df = pd.read_table("rockSampleProblem.csv",sep=',')

cm = sns.light_palette("orange", as_cmap=True)
df2 = df.groupby(["package"]).sum().round(4)
df2 = df2[[i for i in df2.columns if i not in ['id']]]
df2.style.format('{:.4f}').background_gradient(cmap=cm).apply(
    lambda col: ['font-weight:bold' 
                 if ((x==col.max() and col.name in [
                     "num_correct_door","sum_reward","sum_discount_reward"
                     ]) 
                     or (x==col.min() and col.name in ["num_wrong_door","avg_steps","runtime"]))
                 else '' 
                 for x in col])

In [7]:
rock_runtime = df2["runtime"]
print(rock_runtime)

rock_sum_discounted = df2["sum_discount_reward"]
print(rock_sum_discounted)

package
POMCP      0.8673
POMCPOW    1.0411
SARSOP     1.3159
Name: runtime, dtype: float64
package
POMCP      2227
POMCPOW    2314
SARSOP     4330
Name: sum_discount_reward, dtype: int64

## Query

## Mini hallway

Some error for problem setup

In [8]:
df = pd.read_table("miniHallwayProblem.csv",sep=',')

cm = sns.light_palette("orange", as_cmap=True)
df2 = df.groupby(["package"]).sum().round(4)
df2 = df2[[i for i in df2.columns if i not in ['id']]]
df2.style.format('{:.4f}').background_gradient(cmap=cm).apply(
    lambda col: ['font-weight:bold' 
                 if ((x==col.max() and col.name in [
                     "num_correct_door","sum_reward","sum_discount_reward"
                     ]) 
                     or (x==col.min() and col.name in ["num_wrong_door","avg_steps","runtime"]))
                 else '' 
                 for x in col])

In [9]:
miniHallway_runtime = df2["runtime"]
print(miniHallway_runtime)

miniHallway_sum_discounted = df2["sum_discount_reward"]
print(miniHallway_sum_discounted)

package
FIB        0.1375
POMCP     29.4376
QMDP       0.1909
SARSOP     0.2428
Name: runtime, dtype: float64
package
FIB        3
POMCP     10
QMDP       3
SARSOP    10
Name: sum_discount_reward, dtype: int64

## Simple grid world (3 $\times$ 3)

## T-Maze problem (arm length =3)

# Summary

## Runtime

In [10]:
concatenated1 = pd.concat([baby_runtime,tiger_runtime, miniHallway_runtime, rock_runtime], axis=1)
concatenated1.columns.values[0] = 'Crying Baby'
concatenated1.columns.values[1] = 'Tiger'
concatenated1.columns.values[2] = 'Mini Hallway'
concatenated1.columns.values[3] = 'Rock Sample'

concatenated1.style.format('{:.4f}').background_gradient(axis=0,cmap="Pastel2").apply(
    lambda col: ['font-weight:bold' if x==col.min() else ''
                 for x in col])

## Sum of Discounted Reward

In [11]:
concatenated2 = pd.concat([ baby_sum_discounted, tiger_sum_discounted, miniHallway_sum_discounted, rock_sum_discounted], axis=1)
concatenated2.columns.values[0] = 'Crying Baby' 
concatenated2.columns.values[1] = 'Tiger'
concatenated2.columns.values[2] = 'Mini Hallway'
concatenated2.columns.values[3] = 'Rcok Sample'

concatenated2.style.format('{:.4f}').background_gradient(axis=0,cmap="Pastel1").apply(
    lambda col: ['font-weight:bold' if x==col.max() else ''
                 for x in col])

# summary

In [14]:
y = [('Runtime','Crying Baby'), ('Runtime','Tiger'), 
     ('Runtime','hallway'), ('Runtime','rock'), 
     ('Reward','Crying Baby'), ('Reward','Tiger'),
     ('Reward','hallway'), ('Reward','rock')]
s =  pd.concat([concatenated1,concatenated2], axis=1)
s.columns = pd.MultiIndex.from_tuples(y)
s.style.format('{:.4f}').apply(
    lambda col: ['font-weight:bold' if (
         (x==col.min()and col.name in [('Runtime','Crying Baby'),('Runtime','Tiger'),('Runtime','hallway') ,('Runtime','rock')]) or
         (x==col.max() and col.name in [ ('Reward','Crying Baby'), ('Reward','Tiger'),('Reward','hallway'), ('Reward', 'rock')])) else ''
                 for x in col])
s.to_csv("summary.csv")
s

            Runtime                                 Reward                  \
        Crying Baby     Tiger  hallway    rock Crying Baby   Tiger hallway
package
FIB          0.3456    0.1779   0.1375     NaN     -217110   41408     3.0
PBVI         2.0789    0.4323      NaN     NaN     -220363   38115     NaN
POMCP       44.6098  163.0138  29.4376  0.8673      -75864 -254048    10.0
POMCPOW     83.0015  704.4068      NaN  1.0411     -115277 -273947     NaN
QMDP         0.1041    0.4524   0.1909     NaN     -216254   37654     3.0
SARSOP       0.3376    0.4874   0.2428  1.3159     -218068   37964    10.0


           rock
package
FIB         NaN
PBVI        NaN
POMCP    2227.0
POMCPOW  2314.0
QMDP        NaN
SARSOP   4330.0