# summary results for 8 problems

In [75]:
import pandas as pd
import numpy as np
#
# from math import sqrt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

## Crying Baby

runtime is the sum of 100 simulations, each simulation contains 1000 games

In [76]:
df = pd.read_table("cryingBabyProblem.csv",sep=',')

cm = sns.light_palette("orange", as_cmap=True)
df2 = df.groupby(["package"]).sum().round(4)
df2 = df2[[i for i in df2.columns if i not in ['id']]]
df2.style.format('{:.4f}').background_gradient(cmap=cm).apply(
    lambda col: ['font-weight:bold' 
                 if ((x==col.max() and col.name in ["sum_reward","sum_discount_reward"
                     ]) 
                     or (x==col.min() and col.name in ["avg_steps","runtime"]))
                 else '' 
                 for x in col])

In [77]:
baby_runtime = df2["runtime"]
print(baby_runtime)

baby_sum_discounted = df2["sum_discount_reward"]
print(baby_sum_discounted)

package
FIB         0.1379
PBVI        0.8480
POMCP      41.5183
POMCPOW    54.1477
QMDP        0.1473
SARSOP      0.2715
Name: runtime, dtype: float64
package
FIB       -195
PBVI      -143
POMCP     -203
POMCPOW   -186
QMDP      -129
SARSOP    -134
Name: sum_discount_reward, dtype: int64

## Tiger

runtime is the sum of 100 simulations, each simulation contains 1000 games

In [78]:
df = pd.read_table("tigerProblem.csv",sep=',')

cm = sns.light_palette("orange", as_cmap=True)
df2 = df.groupby(["package"]).sum().round(4)
df2 = df2[[i for i in df2.columns if i not in ['id']]]
df2.style.format('{:.4f}').background_gradient(cmap=cm).apply(
    lambda col: ['font-weight:bold' 
                 if ((x==col.max() and col.name in [
                     "num_correct_door","sum_reward","sum_discount_reward"
                     ]) 
                     or (x==col.min() and col.name in ["num_wrong_door","avg_steps","runtime"]))
                 else '' 
                 for x in col])

In [79]:
tiger_runtime = df2["runtime"]
print(tiger_runtime)

tiger_sum_discounted = df2["sum_discount_reward"]
print(tiger_sum_discounted)

package
FIB          0.1779
PBVI         0.4323
POMCP      163.0138
POMCPOW    704.4068
QMDP         0.4524
SARSOP       0.4874
Name: runtime, dtype: float64
package
FIB         41408
PBVI        38115
POMCP     -254048
POMCPOW   -273947
QMDP        37654
SARSOP      37964
Name: sum_discount_reward, dtype: int64

## Paint
runtime is the sum of 100 simulations, each simulation contains 1000 games

## Rock Sample

runtime is the sum of 100 simulations, each simulation contains 1000 games

In [80]:
df = pd.read_table("rockSampleProblem.csv",sep=',')

cm = sns.light_palette("orange", as_cmap=True)
df2 = df.groupby(["package"]).sum().round(4)
df2 = df2[[i for i in df2.columns if i not in ['id']]]
df2.style.format('{:.4f}').background_gradient(cmap=cm).apply(
    lambda col: ['font-weight:bold' 
                 if ((x==col.max() and col.name in [
                     "num_correct_door","sum_reward","sum_discount_reward"
                     ]) 
                     or (x==col.min() and col.name in ["num_wrong_door","avg_steps","runtime"]))
                 else '' 
                 for x in col])

In [81]:
rock_runtime = df2["runtime"]
print(rock_runtime)

rock_sum_discounted = df2["sum_discount_reward"]
print(rock_sum_discounted)

package
FIB        58.5820
PBVI        5.0158
POMCP      54.4596
POMCPOW    38.1339
QMDP       45.0650
SARSOP      0.8890
Name: runtime, dtype: float64
package
FIB          0
PBVI       635
POMCP      655
POMCPOW    656
QMDP         0
SARSOP     637
Name: sum_discount_reward, dtype: int64

## Query

## Mini hallway

Some error for problem setup

In [82]:
df = pd.read_table("miniHallwayProblem.csv",sep=',')

cm = sns.light_palette("orange", as_cmap=True)
df2 = df.groupby(["package"]).sum().round(4)
df2 = df2[[i for i in df2.columns if i not in ['id']]]
df2.style.format('{:.4f}').background_gradient(cmap=cm).apply(
    lambda col: ['font-weight:bold' 
                 if ((x==col.max() and col.name in [
                     "num_correct_door","sum_reward","sum_discount_reward"
                     ]) 
                     or (x==col.min() and col.name in ["num_wrong_door","avg_steps","runtime"]))
                 else '' 
                 for x in col])

In [83]:
miniHallway_runtime = df2["runtime"]
print(miniHallway_runtime)

miniHallway_sum_discounted = df2["sum_discount_reward"]
print(miniHallway_sum_discounted)

package
FIB          9.4817
PBVI         0.7267
POMCP      200.0973
POMCPOW    447.7556
QMDP         5.1165
SARSOP       1.2110
Name: runtime, dtype: float64
package
FIB         1
PBVI       21
POMCP      17
POMCPOW    11
QMDP        1
SARSOP     21
Name: sum_discount_reward, dtype: int64

## Simple grid world (3 $\times$ 3)

In [ ]:
df = pd.read_table("miniHallwayProblem.csv",sep=',')

cm = sns.light_palette("orange", as_cmap=True)
df2 = df.groupby(["package"]).sum().round(4)
df2 = df2[[i for i in df2.columns if i not in ['id']]]
df2.style.format('{:.4f}').background_gradient(cmap=cm).apply(
    lambda col: ['font-weight:bold' 
                 if ((x==col.max() and col.name in [
                     "num_correct_door","sum_reward","sum_discount_reward"
                     ]) 
                     or (x==col.min() and col.name in ["num_wrong_door","avg_steps","runtime"]))
                 else '' 
                 for x in col])

In [ ]:
miniHallway_runtime = df2["runtime"]
print(miniHallway_runtime)

miniHallway_sum_discounted = df2["sum_discount_reward"]
print(miniHallway_sum_discounted)

## T-Maze problem (arm length =3)

In [2]:
import turtle

# create a turtle object
t = turtle.Turtle()

# set the speed of the turtle
t.speed(0)

# set the length of the maze arms
arm_length = 100

# draw the stem of the T-maze
t.penup()
t.goto(0,0)
t.pendown()
t.setheading(270)
t.forward(arm_length)

# draw the left arm of the T-maze
t.right(90)
t.forward(arm_length/2)
t.left(90)
t.forward(arm_length)

# draw the right arm of the T-maze
t.right(180)
t.forward(arm_length)
t.right(90)
t.forward(arm_length/2)
t.right(90)
t.forward(arm_length)

# hide the turtle
t.hideturtle()

# wait for the user to close the window
turtle.done()

Terminator:

:

In [ ]:
df = pd.read_table("tMazeProblem.csv",sep=',')

cm = sns.light_palette("orange", as_cmap=True)
df2 = df.groupby(["package"]).sum().round(4)
df2 = df2[[i for i in df2.columns if i not in ['id']]]
df2.style.format('{:.4f}').background_gradient(cmap=cm).apply(
    lambda col: ['font-weight:bold' 
                 if ((x==col.max() and col.name in [
                     "num_correct_door","sum_reward","sum_discount_reward"
                     ]) 
                     or (x==col.min() and col.name in ["num_wrong_door","avg_steps","runtime"]))
                 else '' 
                 for x in col])

In [ ]:
tMaze_runtime = df2["runtime"]
print(tMaze_runtime)

tMaze_sum_discounted = df2["sum_discount_reward"]
print(tMaze_sum_discounted)

# Summary

## Runtime

In [84]:
concatenated1 = pd.concat([baby_runtime,tiger_runtime, miniHallway_runtime, rock_runtime], axis=1)
concatenated1.columns.values[0] = 'Crying Baby'
concatenated1.columns.values[1] = 'Tiger'
concatenated1.columns.values[2] = 'Mini Hallway'
concatenated1.columns.values[3] = 'Rock Sample'

concatenated1.style.format('{:.4f}').background_gradient(axis=0,cmap="Pastel2").apply(
    lambda col: ['font-weight:bold' if x==col.min() else ''
                 for x in col])

## Sum of Discounted Reward

In [85]:
concatenated2 = pd.concat([ baby_sum_discounted, tiger_sum_discounted, miniHallway_sum_discounted, rock_sum_discounted], axis=1)
concatenated2.columns.values[0] = 'Crying Baby' 
concatenated2.columns.values[1] = 'Tiger'
concatenated2.columns.values[2] = 'Mini Hallway'
concatenated2.columns.values[3] = 'Rcok Sample'

concatenated2.style.format('{:.4f}').background_gradient(axis=0,cmap="Pastel1").apply(
    lambda col: ['font-weight:bold' if x==col.max() else ''
                 for x in col])

# summary

In [86]:
y = [('Runtime','Crying Baby'), ('Runtime','Tiger'), 
     ('Runtime','hallway'), ('Runtime','rock'), 
     ('Reward','Crying Baby'), ('Reward','Tiger'),
     ('Reward','hallway'), ('Reward','rock')]
s =  pd.concat([concatenated1,concatenated2], axis=1)
s.columns = pd.MultiIndex.from_tuples(y)
s.style.format('{:.4f}').apply(
    lambda col: ['font-weight:bold' if (
         (x==col.min()and col.name in [('Runtime','Crying Baby'),('Runtime','Tiger'),('Runtime','hallway') ,('Runtime','rock')]) or
         (x==col.max() and col.name in [ ('Reward','Crying Baby'), ('Reward','Tiger'),('Reward','hallway'), ('Reward', 'rock')])) else ''
                 for x in col])
s.to_csv("summary.csv")
s

            Runtime                                   Reward                  \
        Crying Baby     Tiger   hallway     rock Crying Baby   Tiger hallway
package
FIB          0.1379    0.1779    9.4817  58.5820        -195   41408       1
PBVI         0.8480    0.4323    0.7267   5.0158        -143   38115      21
POMCP       41.5183  163.0138  200.0973  54.4596        -203 -254048      17
POMCPOW     54.1477  704.4068  447.7556  38.1339        -186 -273947      11
QMDP         0.1473    0.4524    5.1165  45.0650        -129   37654       1
SARSOP       0.2715    0.4874    1.2110   0.8890        -134   37964      21


        rock
package
FIB        0
PBVI     635
POMCP    655
POMCPOW  656
QMDP       0
SARSOP   637