# summary results for 8 problems

In [2]:
import pandas as pd
import numpy as np
#
# from math import sqrt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

## Crying Baby

runtime is the sum of 100 simulations, each simulation contains 1000 games

In [3]:
df = pd.read_table("cryingBabyProblem.csv",sep=',')

cm = sns.light_palette("orange", as_cmap=True)
df2 = df.groupby(["package"]).sum()
df2 = df2[[i for i in df2.columns if i not in ['id']]]
df2.style.format('{:.4f}').background_gradient(cmap=cm).apply(
    lambda col: ['font-weight:bold' 
                 if ((x==col.max() and col.name in ["sum_reward","sum_discount_reward"
                     ]) 
                     or (x==col.min() and col.name in ["avg_steps","runtime"]))
                 else '' 
                 for x in col])

In [4]:
baby_runtime = df2["runtime"]
print(baby_runtime)

baby_sum_discounted = df2["sum_discount_reward"]
print(baby_sum_discounted)

package
FIB         0.277649
PBVI        2.215488
POMCP      45.431776
POMCPOW    45.116577
QMDP        0.308612
SARSOP      0.307757
Name: runtime, dtype: float64
package
FIB       -218526
PBVI      -217983
POMCP      -76982
POMCPOW    -77018
QMDP      -216687
SARSOP    -223494
Name: sum_discount_reward, dtype: int64

## Tiger

runtime is the sum of 100 simulations, each simulation contains 1000 games

In [5]:
df = pd.read_table("tigerProblem.csv",sep=',')

cm = sns.light_palette("orange", as_cmap=True)
df2 = df.groupby(["package"]).sum()
df2 = df2[[i for i in df2.columns if i not in ['id']]]
df2.style.format('{:.4f}').background_gradient(cmap=cm).apply(
    lambda col: ['font-weight:bold' 
                 if ((x==col.max() and col.name in [
                     "num_correct_door","sum_reward","sum_discount_reward"
                     ]) 
                     or (x==col.min() and col.name in ["num_wrong_door","avg_steps","runtime"]))
                 else '' 
                 for x in col])

In [6]:
tiger_runtime = df2["runtime"]
print(tiger_runtime)

tiger_sum_discounted = df2["sum_discount_reward"]
print(tiger_sum_discounted)

package
FIB          0.177854
PBVI         0.432251
POMCP      163.013804
POMCPOW    704.406770
QMDP         0.452426
SARSOP       0.487360
Name: runtime, dtype: float64
package
FIB         41408
PBVI        38115
POMCP     -254048
POMCPOW   -273947
QMDP        37654
SARSOP      37964
Name: sum_discount_reward, dtype: int64

## Paint
runtime is the sum of 100 simulations, each simulation contains 1000 games

## Rock Sample

runtime is the sum of 100 simulations, each simulation contains 1000 games

In [12]:
df = pd.read_table("rockSampleProblem.csv",sep=',')

cm = sns.light_palette("orange", as_cmap=True)
df2 = df.groupby(["package"]).sum()
df2 = df2[[i for i in df2.columns if i not in ['id']]]
df2.style.format('{:.4f}').background_gradient(cmap=cm).apply(
    lambda col: ['font-weight:bold' 
                 if ((x==col.max() and col.name in [
                     "num_correct_door","sum_reward","sum_discount_reward"
                     ]) 
                     or (x==col.min() and col.name in ["num_wrong_door","avg_steps","runtime"]))
                 else '' 
                 for x in col])

In [13]:
rock_runtime = df2["runtime"]
print(rock_runtime)

rock_sum_discounted = df2["sum_discount_reward"]
print(rock_sum_discounted)

package
POMCPOW    1.191882
SARSOP     8.104085
Name: runtime, dtype: float64
package
POMCPOW    2083
SARSOP     3276
Name: sum_discount_reward, dtype: int64

## Query

## Mini hallway

Some error for problem setup

In [7]:
df = pd.read_table("miniHallwayProblem.csv",sep=',')

cm = sns.light_palette("orange", as_cmap=True)
df2 = df.groupby(["package"]).sum()
df2 = df2[[i for i in df2.columns if i not in ['id']]]
df2.style.format('{:.4f}').background_gradient(cmap=cm).apply(
    lambda col: ['font-weight:bold' 
                 if ((x==col.max() and col.name in [
                     "num_correct_door","sum_reward","sum_discount_reward"
                     ]) 
                     or (x==col.min() and col.name in ["num_wrong_door","avg_steps","runtime"]))
                 else '' 
                 for x in col])

In [8]:
miniHallway_runtime = df2["runtime"]
print(miniHallway_runtime)

miniHallway_sum_discounted = df2["sum_discount_reward"]
print(miniHallway_sum_discounted)

package
FIB        0.137481
POMCP     29.437608
QMDP       0.190867
SARSOP     0.242809
Name: runtime, dtype: float64
package
FIB        3
POMCP     10
QMDP       3
SARSOP    10
Name: sum_discount_reward, dtype: int64

## Simple grid world (3 $\times$ 3)

## T-Maze problem (arm length =3)

# Summary

## Runtime

In [14]:
concatenated1 = pd.concat([baby_runtime,tiger_runtime, miniHallway_runtime, rock_runtime], axis=1)
concatenated1.columns.values[0] = 'Crying Baby'
concatenated1.columns.values[1] = 'Tiger'
concatenated1.columns.values[2] = 'Mini Hallway'
concatenated1.columns.values[3] = 'Rock Sample'

concatenated1.style.format('{:.4f}').background_gradient(axis=0,cmap="Pastel2").apply(
    lambda col: ['font-weight:bold' if x==col.min() else ''
                 for x in col])

## Sum of Discounted Reward

In [15]:
concatenated2 = pd.concat([ baby_sum_discounted, tiger_sum_discounted, miniHallway_sum_discounted, rock_sum_discounted], axis=1)
concatenated2.columns.values[0] = 'Crying Baby' 
concatenated2.columns.values[1] = 'Tiger'
concatenated2.columns.values[2] = 'Mini Hallway'
concatenated2.columns.values[3] = 'Rcok Sample'

concatenated2.style.format('{:.4f}').background_gradient(axis=0,cmap="Pastel1").apply(
    lambda col: ['font-weight:bold' if x==col.max() else ''
                 for x in col])

# summary 1

this one looks better

In [19]:
y = [('Runtime','Crying Baby'), ('Runtime','Tiger'), 
     ('Runtime','hallway'), ('Runtime','rock'), 
     ('Reward','Crying Baby'), ('Reward','Tiger'),
     ('Reward','hallway'), ('Reward','rock')]
s =  pd.concat([concatenated1,concatenated2], axis=1)
s.columns = pd.MultiIndex.from_tuples(y)
s.style.format('{:.4f}').apply(
    lambda col: ['font-weight:bold' if (
         (x==col.min()and col.name in [('Runtime','Crying Baby'),('Runtime','Tiger'),('Runtime','hallway') ,('Runtime','rock')]) or
         (x==col.max() and col.name in [ ('Reward','Crying Baby'), ('Reward','Tiger'),('Reward','hallway'), ('Reward', 'rock')])) else ''
                 for x in col])
s.to_csv("summary.csv")

# summary 2

In [ ]:
concatenated3 = pd.concat([ baby_runtime,baby_sum_discounted, 
                           tiger_runtime,tiger_sum_discounted], axis=1)
y = [('Crying Baby','Runtime'), ('Crying Baby','Reward'), 
     ('Tiger','Runtime'), ('Tiger','Reward')]
concatenated3.columns = pd.MultiIndex.from_tuples(y)
concatenated3.style.format('{:.4f}').apply(
    lambda col: ['font-weight:bold' if (
         (x==col.min()and col.name in [('Crying Baby','Runtime'),('Tiger','Runtime')]) or
         (x==col.max() and col.name in [ ('Crying Baby','Reward'), ('Tiger','Reward')])) else ''
                 for x in col])

: